/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Space Mono', monospace;
}

h1{
	margin-bottom: 20px;
}

.content{
	padding: 30px;
	margin: 20px, 20px;
}

.questionText{
	margin-left: 40px;
	margin-bottom: 20px;
}

.radioButton{
	margin-left: 70px;
}

.button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: #4682B4; /* Blue */
	border: none;
	color: black;
	padding: 15px;
	font-size: 16px;
	width: 20%;
	text-align: center;
	display: block;
	text-decoration: none;
}
